[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
langchain = "*"
langchain-community = "*"
openai = "*"
langchain-openai = "*"
jinja2 = "*"
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
autopep8 = "*"
cryptography = "*"
cbor2 = "*"
asn1crypto = "*"
alembic = "*"
pytest = "*"
python-jose = "*"
fastapi-pagination = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
